html {
	margin: 0;
	padding: 0;
	background-color: beige;
}

body {
	display: inline-block;
}

body.main {
	width: 100%;
}

body.admin {
	width: auto;
}

body,
div {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

form, input {
	border: 0;
	margin: 0;
	padding: 0;
}

.contentHolder {
	margin-left: auto;
	margin-right: auto;
}

table.vs1 {
	height: 20px;
}

table.header1,
table.header2,
table.formHolder,
table.header3,
table.header4 {
	margin-left: auto;
	margin-right: auto;
}

td.header1Title,
td.header2Text,
td.header3Text,
td.header4Text {
	font-family: "DejaVu Sans", serif;
	text-align: center;
}

td.header1Title {
	font-size: 24px;
	padding-bottom: 6px;
}

td.header2Text {
	font-size: 15px;
	padding-bottom: 4px;
}

td.header3Text {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 3px;
	text-align: left;
}

td.header4Text {
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 3px;
	color: red;
}

table.formHolder {
	width: 480px;
	background-color: lightskyblue;
	border: 1px solid black;
}

.formHolder td.col1 {
	width: 240px;
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 16px;
	text-align: center;
}

.formHolder td.col3 {
	width: 20px;
}

.f1 input,
.f2 input,
.f3 input,
.f4 input,
.f5 input,
.f6 input,
.f7 input,
.f8 input,
.f9 input,
.f10 input,
.f11 input,
.f12 input,
.f13 input,
.f14 input,
.f15 input,
.f16 input,
.f17 input {
	width: 240px;
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 15px;
	letter-spacing: 1px;
}

/* pwd */
.f2 input,
.f4 input,
.f6 input,
.f8 input,
.f10 input,
.f12 input,
.f13 input,
.f14 input,
.f15 input,
.f17 input {
	letter-spacing: 2px;
}

.flag_none {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.flag_error {
	width: 100%;
	height: 100%;
	background-color: red;
}

.formHolder input.submit {
	width: 100%;
	background-color: lightgrey;
	font-size: 16px;
}

.formHolder input.submit:hover {
	width: 100%;
	background-color: gray;
	cursor: pointer;
}

.header3Text a {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

div.divReg,
div.divLogIn,
div.divLogOut,
div.divChangeEmail,
div.divChangePwd {
	height: auto;
	display: none;
}

div.head {
	font-family: "DejaVu Sans", serif;
	font-size: 16px;
	margin: 10px;
	text-align: left;
	color: grey;
}

li.hidden {
	list-style: none;
}

table.acpMenu .col1 {
	width: 128px;
}

table.acpMenu td {
	font-size: 16px;
	padding: 2px;
}

.btnGo,
.btnAccept,
.btnReject,
.btnLogOut,
.btnPrev,
.btnNext,
.btnBack,
.btnEnableRole,
.btnDisableRole {
	border: 1px solid grey;
	color: grey;
	cursor: pointer;
	font-size: 16px;
	font-family: "DejaVu Sans", serif;
	width: 128px;
}

.btnBack {
	color: brown;
}

.btnPrev,
.btnNext {
	font-size: 14px;
	color: grey;
}

.btnAccept,
.btnEnableRole {
	color: darkgreen;
}

.btnReject,
.btnLogOut,
.btnDisableRole {
	color: crimson;
}

.acpMenu,
.subpage {
	display: none;
	font-family: "DejaVu Sans", serif;
	font-size: 14px;
	margin: 10px;
}

.subpageTitle {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
	font-size: 18px;
	background-color: bisque;
	padding-left: 10px;
}

.subpagePaginator {
	font-size: 14px;
	color: grey;
	margin-bottom: 5px;
}

.subpageSpacerA {
	width: 15px;
	display: inline-block;
}

table.subpageListOfUsers,
table.subpageListOfRRFA,
table.subpageListOfLoggedUsers,
table.subpageUserPage {
	border: 1px solid black;
	text-align: right;
}

table.subpageListOfUsers th,
table.subpageListOfRRFA th,
table.subpageListOfLoggedUsers th,
table.subpageUserPage th {
	border: 1px solid black;
	padding: 3px;
	background-color: bisque;
	text-align: center;
}

table.subpageListOfUsers td,
table.subpageListOfRRFA td,
table.subpageListOfLoggedUsers td,
table.subpageUserPage td {
	border: 1px solid black;
	padding: 3px;
}

table.subpageListOfUsers tr:nth-child(even),
table.subpageListOfRRFA tr:nth-child(even),
table.subpageListOfLoggedUsers tr:nth-child(even),
table.subpageUserPage tr:nth-child(even) {
	background-color: white;
}

table.subpageListOfUsers tr:nth-child(odd),
table.subpageListOfRRFA tr:nth-child(odd),
table.subpageListOfLoggedUsers tr:nth-child(odd),
table.subpageUserPage tr:nth-child(odd) {
	background-color: #E8E8E8;
}

table.subpageListOfUsers tr:hover,
table.subpageListOfLoggedUsers tr:hover {
	background-color: #FFFFBA;
}

table.subpageListOfUsers tr a,
table.subpageListOfLoggedUsers tr a {
	width: 100%;
	height: 100%;
	display: block;
}

th.numCol,
td.numCol {
	color: gray;
}
